# Lab 03 - Let's explore the data from the intro survey!
Start by importing the necessary libraries (pandas)

In [ ]:
# Import the necessary libraries
import pandas as pd
import numpy as np

Next, let's read in the data. This time, we'll be working with two csv files. Make sure to name them different things!

URL1: `https://raw.githubusercontent.com/ishaandey/node/master/week-3/lab/survey_responses_f21.csv`
<br>URL2: `https://raw.githubusercontent.com/ishaandey/node/master/week-3/lab/survey_names_f21.csv`

In [ ]:
# Read in the data from both csv files
df1 = pd.read_csv("https://raw.githubusercontent.com/ishaandey/node/master/week-3/lab/survey_responses_f21.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/ishaandey/node/master/week-3/lab/survey_names_f21.csv")

Let's see what's in the data we just imported

In [ ]:
# Check out both DataFrames
df1.head()

,Timestamp,Index,What college are you in?,What year are you?,My planned (or declared) major is... (Separate each by commas),I'm new to CS,How I feel about... [Python],How I feel about... [R],How I feel about... [SQL],How I feel about... [SAS / STATA],How I feel about... [Other Languages],How I feel about... [Statistics],I'm passionate about ...,Some hobbies I have are ...
0,9/12/2021 15:00:26,1,SEAS,2nd Year,Mechanical Engineering,It's been a while,Kinda know it,Never touched it,Never touched it,Never touched it,Kinda know it,Kinda know it,cars,piano
1,9/12/2021 15:00:34,2,CLAS,2nd Year,"Economics, Statistics",Nope,Kinda know it,Kinda know it,Never touched it,Never touched it,Never touched it,Love it,second hand shopping,"crocheting, piano"
2,9/12/2021 15:00:38,3,COMM,4th Year,Commerce,Nope,Kinda know it,Kinda know it,Never touched it,Never touched it,Kinda know it,Kinda know it,Social impact,"Skiing, Video games, cooking"
3,9/12/2021 15:01:01,4,CLAS,2nd Year,Commerce,It's been a while,Kinda know it,Never touched it,Never touched it,Never touched it,Kinda know it,Kinda know it,"the environment, finding solutions to complex ...","basketball, surfing, cooking"
4,9/12/2021 15:01:07,5,CLAS,1st Year,"Math, Computer Science",Nope,Love it,Never touched it,Never touched it,Never touched it,Love it,Kinda know it,Theoretical Math&Algorithm,"Basketball, Flute, Anime"

In [ ]:
df2.head()

   Index First name   Last name Preferred name (if different)
0      1   Victoria  Vettoretti                         Vicky
1      2       Trey     Pallace                           NaN
2      3       Joon        Park                           NaN
3      4      James       Cowen                         Harry
4      5      Liran          Li                    Stephen Li

It looks like the data is all from the same form, but the name columns got separated from the rest of the info. Merge the two dataframes

In [ ]:
# Merge on the Index column
df = pd.merge(df1, df2, on="Index", how="outer")
df.head()

,Timestamp,Index,What college are you in?,What year are you?,My planned (or declared) major is... (Separate each by commas),I'm new to CS,How I feel about... [Python],How I feel about... [R],How I feel about... [SQL],How I feel about... [SAS / STATA],How I feel about... [Other Languages],How I feel about... [Statistics],I'm passionate about ...,Some hobbies I have are ...,First name,Last name,Preferred name (if different)
0,9/12/2021 15:00:26,1,SEAS,2nd Year,Mechanical Engineering,It's been a while,Kinda know it,Never touched it,Never touched it,Never touched it,Kinda know it,Kinda know it,cars,piano,Victoria,Vettoretti,Vicky
1,9/12/2021 15:00:34,2,CLAS,2nd Year,"Economics, Statistics",Nope,Kinda know it,Kinda know it,Never touched it,Never touched it,Never touched it,Love it,second hand shopping,"crocheting, piano",Trey,Pallace,NaN
2,9/12/2021 15:00:38,3,COMM,4th Year,Commerce,Nope,Kinda know it,Kinda know it,Never touched it,Never touched it,Kinda know it,Kinda know it,Social impact,"Skiing, Video games, cooking",Joon,Park,NaN
3,9/12/2021 15:01:01,4,CLAS,2nd Year,Commerce,It's been a while,Kinda know it,Never touched it,Never touched it,Never touched it,Kinda know it,Kinda know it,"the environment, finding solutions to complex ...","basketball, surfing, cooking",James,Cowen,Harry
4,9/12/2021 15:01:07,5,CLAS,1st Year,"Math, Computer Science",Nope,Love it,Never touched it,Never touched it,Never touched it,Love it,Kinda know it,Theoretical Math&Algorithm,"Basketball, Flute, Anime",Liran,Li,Stephen Li

Now we have all the data together. Let's get some more info about the columns of the dataframe

In [ ]:
# Get info from the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 17
Data columns (total 17 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Timestamp                                                       18 non-null     object
 1   Index                                                           18 non-null     int64
 2   What college are you in?                                        15 non-null     object
 3   What year are you?                                              18 non-null     object
 4   My planned (or declared) major is... (Separate each by commas)  18 non-null     object
 5   I'm new to CS                                                   18 non-null     object
 6   How I feel about...  [Python]                                   18 non-null     object
 7   How I feel about...  [R]                                        18 non-null     object
 8   How I feel about...  [SQL]                                      18 non-null     object
 9   How I feel about...  [SAS / STATA]                              18 non-null     object
 10  How I feel about...  [Other Languages]                          18 non-null     object
 11  How I feel about...  [Statistics]                               18 non-null     object
 12  I'm passionate about ...                                        17 non-null     object
 13  Some hobbies I have are ...                                     18 non-null     object
 14  First name                                                      18 non-null     object
 15  Last name                                                       18 non-null     object
 16  Preferred name (if different)                                   10 non-null     object
dtypes: int64(1), object(16)
memory usage: 2.5+ KB

You'll notice that from the previous step, all of the columns are objects except Index. Let's change that and make the Index column a column of strings instead of integers

In [ ]:
# Convert the Index column from ints to Strings
df['Index'] = df.Index.astype(str)

In [ ]:
# See the changes by looking at the dataframe info again
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 17
Data columns (total 17 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Timestamp                                                       18 non-null     object
 1   Index                                                           18 non-null     object
 2   What college are you in?                                        15 non-null     object
 3   What year are you?                                              18 non-null     object
 4   My planned (or declared) major is... (Separate each by commas)  18 non-null     object
 5   I'm new to CS                                                   18 non-null     object
 6   How I feel about...  [Python]                                   18 non-null     object
 7   How I feel about...  [R]                                        18 non-null     object
 8   How I feel about...  [SQL]                                      18 non-null     object
 9   How I feel about...  [SAS / STATA]                              18 non-null     object
 10  How I feel about...  [Other Languages]                          18 non-null     object
 11  How I feel about...  [Statistics]                               18 non-null     object
 12  I'm passionate about ...                                        17 non-null     object
 13  Some hobbies I have are ...                                     18 non-null     object
 14  First name                                                      18 non-null     object
 15  Last name                                                       18 non-null     object
 16  Preferred name (if different)                                   10 non-null     object
dtypes: object(17)
memory usage: 2.5+ KB

It looks like the column names are super long, which could be a problem down the line. Let's shorten them. So you don't have to write out a new name for each column, here's a list of new column names:

'timestamp', 'index', 'college', 'year', 'major', 'cs_new', 'python_feel', 'r_feel', 'sql_feel', 'sas_feel', 'other_languages_feel', 'stats_feel', 'ds_interest', 'hobbies', 'first', 'last', 'nickname'

In [ ]:
# Get the column names
df.columns

Index(['Timestamp', 'Index', 'What college are you in?', 'What year are you?',
       'My planned (or declared) major is... (Separate each by commas)',
       'I'm new to CS', 'How I feel about...  [Python]',
       'How I feel about...  [R]', 'How I feel about...  [SQL]',
       'How I feel about...  [SAS / STATA]',
       'How I feel about...  [Other Languages]',
       'How I feel about...  [Statistics]', 'I'm passionate about ...',
       'Some hobbies I have are ...', 'First name', 'Last name',
       'Preferred name (if different)'],
      dtype='object')

In [ ]:
# Rename them to something better
df.columns = ['timestamp', 'index', 'college', 'year', 'major', 'cs_new', 'python_feel', 'r_feel', 'sql_feel', 'sas_feel', 'other_languages_feel', 'stats_feel', 'ds_interest', 'hobbies', 'first', 'last', 'nickname']

Take a look at the nicknames column. It seems like not that many people have nicknames. Let's find out exactly how many people don't have nicknames

In [ ]:
# How many people don't have nicknames
df.nickname.isna().value_counts() #8 people with nicknames

False    10
True      8
Name: nickname, dtype: int64

To confuse Ishaan, the PCs decided to call everyone who doesn't have a preferred nickname Ishaan. Change the dataframe to reflect this.

In [ ]:
# Replace empty fields in the nickname column to Ishaan
df['nickname'] = df.nickname.fillna('Ishaan')

Some people forgot to fill out the college field. Let's assume they go to Virginia Tech (ew)

In [ ]:
# Assume that people who don't have a college go to Virginia Tech (VT)
df['college'] = df.college.fillna("VT :(")

Unfortunately, most colleges don't use the terms 1st year, 2nd year, 3rd year and 4th year. Make the data more accessible by changing the year data to freshman, sophomore, junior and senior (leave graduate school as is)

In [ ]:
# Change the year names to what the plebs(jk) call them
df['year'] = df.year.replace({"1st Year":"Freshman", "2nd Year":"Sophomore", "3rd Year": "Junior", "4th Year": "Senior"})
df

,timestamp,index,college,year,major,cs_new,python_feel,r_feel,sql_feel,sas_feel,other_languages_feel,stats_feel,ds_interest,hobbies,first,last,nickname
0,9/12/2021 15:00:26,1,SEAS,Sophomore,Mechanical Engineering,It's been a while,Kinda know it,Never touched it,Never touched it,Never touched it,Kinda know it,Kinda know it,cars,piano,Victoria,Vettoretti,Vicky
1,9/12/2021 15:00:34,2,CLAS,Sophomore,"Economics, Statistics",Nope,Kinda know it,Kinda know it,Never touched it,Never touched it,Never touched it,Love it,second hand shopping,"crocheting, piano",Trey,Pallace,Ishaan
2,9/12/2021 15:00:38,3,COMM,Senior,Commerce,Nope,Kinda know it,Kinda know it,Never touched it,Never touched it,Kinda know it,Kinda know it,Social impact,"Skiing, Video games, cooking",Joon,Park,Ishaan
3,9/12/2021 15:01:01,4,CLAS,Sophomore,Commerce,It's been a while,Kinda know it,Never touched it,Never touched it,Never touched it,Kinda know it,Kinda know it,"the environment, finding solutions to complex ...","basketball, surfing, cooking",James,Cowen,Harry
4,9/12/2021 15:01:07,5,CLAS,Freshman,"Math, Computer Science",Nope,Love it,Never touched it,Never touched it,Never touched it,Love it,Kinda know it,Theoretical Math&Algorithm,"Basketball, Flute, Anime",Liran,Li,Stephen Li
5,9/12/2021 15:01:34,6,CLAS,Sophomore,Statistics,Nope,Kinda know it,Never touched it,Never touched it,Never touched it,Never touched it,Kinda know it,finance/investing,listening to music and investing,REDACTED,REDACTED,REDACTED
6,9/12/2021 15:01:51,7,CLAS,Freshman,"Physics, Statistics",Nope,Kinda know it,Never touched it,Never touched it,Never touched it,Kinda know it,Love it,"Astronomy, Statistics, Science in general","Reading, listening to music, dancing, cooking,...",Olivia,Mostow,Ishaan
7,9/12/2021 15:02:16,8,VT :(,Sophomore,Computer Engineering,Nope,Kinda know it,Never touched it,Never touched it,Never touched it,Kinda know it,Kinda know it,"Experiential Learning, Good Spreadsheets","Video Games, Anime",Daniel,Xue,Ishaan
8,9/12/2021 15:02:52,9,CLAS,Sophomore,"Commerce, Economics",It's been a while,Kinda know it,Never touched it,Never touched it,Never touched it,Never touched it,Kinda know it,Business,"Exercise, play basketball, watch netflix",REDACTED,REDACTED,REDACTED
9,9/12/2021 15:02:59,10,SEAS,Sophomore,Computer Science,Nope,Kinda know it,Kinda know it,Never touched it,Never touched it,Kinda know it,Kinda know it,Arts and movies,"Painting, reading",Harshita,Tirumalapudi,Ishaan
10,9/12/2021 15:06:01,11,SEAS,Freshman,CS,It's been a while,Kinda know it,Never touched it,Kinda know it,Never touched it,Kinda know it,Never touched it,CS,Watching Movies,Wilachat,Weesakul,Waan
11,9/12/2021 15:06:27,12,VT :(,Graduate school,Systems Engineering,Yep,Kinda know it,Kinda know it,Kinda know it,Never touched it,Never touched it,Kinda know it,Management Science / Operations Research,"Hiking, travelling, lacrosse",Charles,Warburton,Andrew
12,9/12/2021 17:28:07,13,CLAS,Junior,CS,Nope,Kinda know it,Never touched it,Kinda know it,Never touched it,Love it,Kinda know it,"Startups, tech, philanthropy","running, tennis, photography, brazilian jiu jitsu",Victor,Luo,Ishaan
13,9/12/2021 19:22:13,14,CLAS,Sophomore,Economics,Yep,Hate it,Never touched it,Never touched it,Never touched it,Never touched it,Kinda know it,NaN,"lax, netflix, trying new food places",Ashita,Sahu,Ash
14,9/13/2021 12:27:10,15,CLAS,Senior,Economics,Nope,Kinda know it,Kinda know it,Never touched it,Kinda know it,Kinda know it,Kinda know it,"Women's rights, the environment, fashion","Playing soccer, cooking, art",Noele,Galindo,Ishaan
15,9/13/2021 17:44:07,16,VT :(,Freshman,"Economics, Statistics, Commerce",Yep,Kinda know it,Never touched it,Never touched it,Never touched it,Never touched it,Love it,Using tech to address the world's issues,"Reading, basketball, lacrosse, swimming",Benjamin,Kim,Ben
16,9/15/2021 16:19:44,17,CLAS,Senior,"Computer Science, Economics",Nope,Love it,Kinda know it,Never touched it,Kinda know it,Kinda know it,Love it,learning new things,Writing,REDACTED,REDACTED,REDACTED
17,9/19/2021 13:44:52,18,CLAS,Sophomore,"Economics, Statistics",It's been a while,Kinda know it,Never touched it,Never touched it,Never touched it,Never touched it,Kinda know it,My friends and family and UVa,"Basketball, running, hanging out with friends",Robert,Carrington,Ishaan

Let's see how many people are CS majors. Unfortunately, people wrote in both CS and Computer Science. Check out the pandas documentation to see how you can check for both in the same line:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html

In [ ]:
# Find out how students many are CS majors
df.major.str.contains('CS|Computer Science').value_counts()

False    13
True      5
Name: major, dtype: int64

It looks like a lot of people are doing 2 majors! Find out exactly how many students are double majoring

In [ ]:
# Find out how many people are doing more than one major
df.major.str.split(', ').apply(lambda x: len(x) > 1).sum()

7

Pandas has a super cool object called datetime objects. Let's experiment with them a bit. First convert the timestamp column to datetime objects

In [ ]:
# Convert the timestamps to datetime objects
df.timestamp = pd.to_datetime(df.timestamp)

Take a look at the features of the datetime objects. Use the day in the object to find out how many people who submitted on Sept. 12th.

In [ ]:
# Find out how many people submitted this form on 09/12
df[df.timestamp.dt.day == 12].shape[0]

14

Now try figuring out how many people submitted the form just after the due date of Sept. 12th 5:00 PM [totally okay if this was you :P]

In [ ]:
# Find out how many people submitted past the due date
df[df.timestamp > pd.Timestamp("09/12/21 17:00")].shape[0]

6